body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #cee6f3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
form {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input [id="skills"],
input [id="projects"],
textarea {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  padding: 5px 10px;
  background-color: #7743db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #610c9f;
}
#resume {
  display: none;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}
